<p id="notice"><%= notice %></p>

<p>
  <b>Financier note:</b>
  <%= @transaction_financier.financier_note_id %>
</p>

<p>
  <b>Transaction record:</b>
  <%= @transaction_financier.transaction_record_id %>
</p>


<%= link_to I18n.t(:edit), edit_transaction_financier_path(@transaction_financier) %> |
<%= link_to I18n.t(:back), transaction_financiers_path %>
