<h1>Listing taxe_types</h1>

<table>
  <tr>
    <th><%=I18n.t(:name)%></th>
    <th><%=I18n.t(:remark)%></th>
    <th><%=I18n.t(:active)%></th>
    <th>Taxe group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @taxe_types.each do |taxe_type| %>
  <tr>
    <td><%= taxe_type.name %></td>
    <td><%= taxe_type.remark %></td>
    <td><%= taxe_type.active %></td>
    <td><%= taxe_type.taxe_group_id %></td>
    <td><%= link_to I18n.t(:show), taxe_type %></td>
    <td><%= link_to I18n.t(:edit), edit_taxe_type_path(taxe_type) %></td>
    <td><%= link_to I18n.t(:destroy), taxe_type, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type', new_taxe_type_path %>
