<%# encoding: utf-8 

# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<%= form_for(@financier_note) do |f| %>
  <% if @financier_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financier_note.errors.count, "error") %> prohibited this financier_note from being saved:</h2>

      <ul>
      <% @financier_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t(:original_value) %><br />
    <%= f.text_field :original_value %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:expiration_date) %><br />
    <%= f.date_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:creation_date) %><br />
    <%= f.date_select :creation_date %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:numberr) %><br />
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t(:save)%>
  </div>
<% end %>
