# encoding: utf-8
<%
# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:original_value)%>:</b>
  <%= @financier_note.original_value %>
</p>

<p>
  <b><%=I18n.t(:expiration_date)%>:</b>
  <%= @financier_note.expiration_date %>
</p>

<p>
  <b><%=I18n.t(:creation_date)%>:</b>
  <%= @financier_note.creation_date %>
</p>

<p>
  <b><%=I18n.t(:name)%>:</b>
  <%= @financier_note.name %>
</p>

<p>
  <b><%=I18n.t(:numberr)%>:</b>
  <%= @financier_note.number %>
</p>


<%= link_to I18n.t(:edit), edit_financier_note_path(@financier_note) %> |
<%= link_to I18n.t(:back), financier_notes_path %>
