<h1>Listing transaction_record_tots</h1>

<table>
  <tr>
    <th>Transaction record record</th>
    <th>Goods additional value</th>
    <th>Remark</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_record_tots.each do |transaction_record_tot| %>
  <tr>
    <td><%= transaction_record_tot.transaction_record_record_id %></td>
    <td><%= transaction_record_tot.goods_additional_value_id %></td>
    <td><%= transaction_record_tot.remark %></td>
    <td><%= transaction_record_tot.active %></td>
    <td><%= link_to 'Show', transaction_record_tot %></td>
    <td><%= link_to 'Edit', edit_transaction_record_tot_path(transaction_record_tot) %></td>
    <td><%= link_to 'Destroy', transaction_record_tot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tot', new_transaction_record_tot_path %>
