<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:name)%>:</b>
  <%= @taxe_group.name %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @taxe_group.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @taxe_group.active %>
</p>


<%= link_to I18n.t(:Edit), edit_taxe_group_path(@taxe_group) %> |
<%= link_to I18n.t(:Back), taxe_groups_path %>
