<h1>Listing participant_participants</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participant_participants.each do |participant_participant| %>
  <tr>
    <td><%= participant_participant.type %></td>
    <td><%= participant_participant.active %></td>
    <td><%= participant_participant.remark %></td>
    <td><%= link_to 'Show', participant_participant %></td>
    <td><%= link_to 'Edit', edit_participant_participant_path(participant_participant) %></td>
    <td><%= link_to 'Destroy', participant_participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_participant_participant_path %>
