<%= form_for(@transaction_goods_item) do |f| %>
  <% if @transaction_goods_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_goods_item.errors.count, "error") %> prohibited this transaction_goods_item from being saved:</h2>

      <ul>
      <% @transaction_goods_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goods_item %><br />
    <%= f.text_field :goods_item %>
  </div>
  <div class="field">
    <%= f.label :transaction_record %><br />
    <%= f.text_field :transaction_record %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :measure %><br />
    <%= f.text_field :measure %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :full_price %><br />
    <%= f.text_field :full_price %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:active) %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:remark) %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
