<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:goods_item):</b>
  <%= @transaction_goods_item.goods_item %>
</p>

<p>
  <b><%=I18n.t(:transaction_record)%>:</b>
  <%= @transaction_goods_item.transaction_record %>
</p>

<p>
  <b><%=I18n.t(:name)%>:</b>
  <%= @transaction_goods_item.name %>
</p>

<p>
  <b><%=I18n.t(:measure)%>:</b>
  <%= @transaction_goods_item.measure %>
</p>

<p>
  <b><%=I18n.t(:quantity)%>:</b>
  <%= @transaction_goods_item.quantity %>
</p>

<p>
  <b><%=I18n.t(:unit_price)%>:</b>
  <%= @transaction_goods_item.unit_price %>
</p>

<p>
  <b><%=I18n.t(:full_price)%>:</b>
  <%= @transaction_goods_item.full_price %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @transaction_goods_item.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_goods_item.remark %>
</p>


<%= link_to I18n.t(:edit), edit_transaction_goods_item_path(@transaction_goods_item) %> |
<%= link_to I18n.t(:back), transaction_goods_items_path %>
