<%# encoding: utf-8 

# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<h1>Listing email_domains</h1>

<table>
  <tr>
    <th><%=I18n.t(:name)%></th>
    <th><%=I18n.t(:remark)%></th>
    <th><%=I18n.t(:active)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_domains.each do |email_domain| %>
  <tr>
    <td><%= email_domain.name %></td>
    <td><%= email_domain.remark %></td>
    <td><%= email_domain.active %></td>
    <td><%= link_to I18n.t(:show), email_domain %></td>
    <td><%= link_to I18n.t(:edit), edit_email_domain_path(email_domain) %></td>
    <td><%= link_to I18n.t(:destroy), email_domain, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Domain', new_email_domain_path %>
