<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:name)%>:</b>
  <%= @email_domain.name %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @email_domain.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @email_domain.active %>
</p>


<%= link_to I18n.t(:Edit), edit_email_domain_path(@email_domain) %> |
<%= link_to I18n.t(:Back), email_domains_path %>
