<h3><%="#{I18n.t :Listing} #{I18n.t :transaction_tots}"%></h3>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_tots.each do |transaction_tot| %>
  <tr>
    <td><%= link_to I18n.t :Show, transaction_tot %></td>
    <td><%= link_to I18n.t :Edit, edit_transaction_tot_path(transaction_tot) %></td>
    <td><%= link_to I18n.t :Destroy, transaction_tot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "#{I18n.t :New} #{I18n.t :Tot}", new_transaction_tot_path %>
