<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @person.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @person.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @person.nickname %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Code:</b>
  <%= @person.code %>
</p>

<p>
  <b>Remark:</b>
  <%= @person.remark %>
</p>

<p>
  <b>Active:</b>
  <%= @person.active %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
