<h1>Listing goods_additional_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th><%=I18n.t(:active)%></th>
    <th><%=I18n.t(:remark)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goods_additional_types.each do |goods_additional_type| %>
  <tr>
    <td><%= goods_additional_type.name %></td>
    <td><%= goods_additional_type.active %></td>
    <td><%= goods_additional_type.remark %></td>
    <td><%= link_to I18n.t(:Show), goods_additional_type %></td>
    <td><%= link_to I18n.t(:Edit), edit_goods_additional_type_path(goods_additional_type) %></td>
    <td><%= link_to I18n.t(:Destroy), goods_additional_type, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type', new_goods_additional_type_path %>
