<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goods_additional_type.name %>
</p>

<p>
  <b>Active:</b>
  <%= @goods_additional_type.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @goods_additional_type.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_goods_additional_type_path(@goods_additional_type) %> |
<%= link_to I18n.t(:Back), goods_additional_types_path %>
