<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_type.name %>
</p>

<p>
  <b>Active:</b>
  <%= @email_type.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @email_type.remark %>
</p>


<%= link_to 'Edit', edit_email_type_path(@email_type) %> |
<%= link_to 'Back', email_types_path %>
