<p id="notice"><%= notice %></p>

<p>
  <b>Taxe value:</b>
  <%= @transaction_goods_taxis.taxe_value %>
</p>

<p>
  <b>Transaction goods item:</b>
  <%= @transaction_goods_taxis.transaction_goods_item %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_goods_taxis.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_goods_taxis.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_transaction_goods_taxis_path(@transaction_goods_taxis) %> |
<%= link_to I18n.t(:Back), transaction_goods_taxes_path %>
