<%# encoding: utf-8 

# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<%= form_for(@transaction_participant) do |f| %>
  <% if @transaction_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_participant.errors.count, "error") %> prohibited this transaction_participant from being saved:</h2>

      <ul>
      <% @transaction_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t :participant_type %><br />
    <%= f.text_field :participant_type_id %>
  </div>
  <div class="field">
    <%= f.label I18n.t :transaction_record %><br />
    <%= f.text_field :transaction_record_id %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:active) %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:remark) %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t(:save)%>
  </div>
<% end %>
