<%= form_for(@transaction_participant) do |f| %>
  <% if @transaction_participant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_participant.errors.count, "error") %> prohibited this transaction_participant from being saved:</h2>

      <ul>
      <% @transaction_participant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :participant %><br />
    <%= f.text_field :participant %>
  </div>
  <div class="field">
    <%= f.label :transaction_record %><br />
    <%= f.text_field :transaction_record %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:active) %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:remark) %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
