<h1>Listing transaction_participants</h1>

<table>
  <tr>
    <th>Transaction record</th>
    <th>Type</th>
    <th>Participant person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_participants.each do |transaction_participant| %>
  <tr>
    <td><%= transaction_participant.transaction_record_id %></td>
    <td><%= transaction_participant.type %></td>
    <td><%= transaction_participant.participant_person_id %></td>
    <td><%= link_to 'Show', transaction_participant %></td>
    <td><%= link_to 'Edit', edit_transaction_participant_path(transaction_participant) %></td>
    <td><%= link_to 'Destroy', transaction_participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_transaction_participant_path %>
