<h1>Listing transaction_participants</h1>

<table>
  <tr>
    <th>Participant participant</th>
    <th>Transaction record</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_participants.each do |transaction_participant| %>
  <tr>
    <td><%= transaction_participant.transaction_participant_id %></td>
    <td><%= transaction_participant.transaction_record %></td>
    <td><%= transaction_participant.active %></td>
    <td><%= transaction_participant.remark %></td>
    <td><%= link_to I18n.t(:Show), transaction_participant %></td>
    <td><%= link_to I18n.t(:Edit), edit_transaction_participant_path(transaction_participant) %></td>
    <td><%= link_to I18n.t(:Destroy), transaction_participant, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participant', new_transaction_participant_path %>
