<p id="notice"><%= notice %></p>

<p>
  <b>Participant participant:</b>
  <%= @transaction_participant.participant %>
</p>

<p>
  <b>Transaction record:</b>
  <%= @transaction_participant.transaction_record %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @transaction_participant.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_participant.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_transaction_participant_path(@transaction_participant) %> |
<%= link_to I18n.t(:Back), transaction_participants_path %>
