<p id="notice"><%= notice %></p>

<p>
  <b>Participant participant:</b>
  <%= @transaction_participant.participant_participant %>
</p>

<p>
  <b>Transaction record:</b>
  <%= @transaction_participant.transaction_record %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_participant.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @transaction_participant.remark %>
</p>


<%= link_to 'Edit', edit_transaction_participant_path(@transaction_participant) %> |
<%= link_to 'Back', transaction_participants_path %>
