<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t :participant_type%>:</b>
  <%= @transaction_participant.participant_type_id %>
</p>

<p>
  <b><%=I18n.t :transaction_record%>:</b>
  <%= @transaction_participant.transaction_record_id %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @transaction_participant.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_participant.remark %>
</p>


<%= link_to I18n.t(:edit), edit_transaction_participant_path(@transaction_participant) %> |
<%= link_to I18n.t(:back), transaction_participants_path %>
