<p id="notice"><%= notice %></p>

<p>
  <b>Transaction record:</b>
  <%= @transaction_participant.transaction_record_id %>
</p>

<p>
  <b>Type:</b>
  <%= @transaction_participant.type %>
</p>

<p>
  <b>Participant person:</b>
  <%= @transaction_participant.participant_person_id %>
</p>


<%= link_to 'Edit', edit_transaction_participant_path(@transaction_participant) %> |
<%= link_to 'Back', transaction_participants_path %>
