#encoding: utf-8
<%
# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:first_name)%>:</b>
  <%= @participant_person.first_name %>
</p>

<p>
  <b><%=I18n.t(:last_name)%>:</b>
  <%= @participant_person.last_name %>
</p>

<p>
  <b><%=I18n.t(:nickname)%>:</b>
  <%= @participant_person.nickname %>
</p>

<p>
  <b><%=I18n.t(:birthday)%>:</b>
  <%= @participant_person.birthday %>
</p>

<p>
  <b><%=I18n.t(:code)%>:</b>
  <%= @participant_person.code %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @participant_person.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @participant_person.active %>
</p>


<%= link_to I18n.t(:edit), edit_participant_person_path(@participant_person) %> |
<%= link_to I18n.t(:back), participant_people_path %>
