<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:first_name)%>:</b>
  <%= @participant_person.first_name %>
</p>

<p>
  <b><%=I18n.t(:last_name)%>:</b>
  <%= @participant_person.last_name %>
</p>

<p>
  <b><%=I18n.t(:nickname)%>:</b>
  <%= @participant_person.nickname %>
</p>

<p>
  <b><%=I18n.t(:birthday)%>:</b>
  <%= @participant_person.birthday %>
</p>

<p>
  <b><%=I18n.t(:code)%>:</b>
  <%= @participant_person.code %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @participant_person.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @participant_person.active %>
</p>


<%= link_to I18n.t(:Edit), edit_participant_person_path(@participant_person) %> |
<%= link_to I18n.t(:Back), participant_people_path %>
