<h1>Listing transaction_record_taxes</h1>

<table>
  <tr>
    <th>Transaction record</th>
    <th>Taxe value</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_record_taxes.each do |transaction_record_taxis| %>
  <tr>
    <td><%= transaction_record_taxis.transaction_record_id %></td>
    <td><%= transaction_record_taxis.taxe_value_id %></td>
    <td><%= transaction_record_taxis.active %></td>
    <td><%= transaction_record_taxis.remark %></td>
    <td><%= link_to I18n.t(:Show), transaction_record_taxis %></td>
    <td><%= link_to 'Edit', edit_transaction_record_taxis_path(transaction_record_taxis) %></td>
    <td><%= link_to 'Destroy', transaction_record_taxis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Record taxe', new_transaction_record_taxis_path %>
