<%= form_for(@transaction_xml,:html =>{:multipart => true}) do |f| %>
  <% if @transaction_xml.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_xml.errors.count, "error") %> prohibited this transaction_xml from being saved:</h2>

      <ul>
      <% @transaction_xml.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :xml %><br />
    <%= f.file_field :xml %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
