<h3><%="#{I18n.t :listing} #{I18n.t :transaction_xmls}"%></h3>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Id</th>
    <th>Nota</th>
    <th>Natureza Operacao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_xmls.each do |transaction_xml| %>
  <tr>
    <td><%= transaction_xml.id %></td>
    <td><%= transaction_xml.transaction_record_id %></td>
    <td><%= transaction_xml.name %></td>
    <td><%= link_to(I18n.t(:destroy), transaction_xml, :confirm => I18n.t(:are_you_sure?), :method => :delete) %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to "#{I18n.t :new} #{I18n.t :xml}", new_transaction_xml_path %>

