<p id="notice"><%= notice %></p>

<p>
  <b><%="#{I18n.t(:Transaction)} {I18n.t(:record)}"%>:</b>
  <%= @transaction_xml.transaction_record_id %>
</p>

<p>
  <b>Xml:</b>
  <%= @transaction_xml.xml %>
</p>

<p>
  <b>Name:</b>
  <%= @transaction_xml.name %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_xml.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_xml.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_transaction_xml_path(@transaction_xml) %> |
<%= link_to I18n.t(:Back), transaction_xmls_path %>
