<h1>Listing participant_contact_types</h1>

<table>
  <tr>
    <th><%=I18n.t(:name)%></th>
    <th><%=I18n.t(:active)%></th>
    <th><%=I18n.t(:remark)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participant_contact_types.each do |participant_contact_type| %>
  <tr>
    <td><%= participant_contact_type.name %></td>
    <td><%= participant_contact_type.active %></td>
    <td><%= participant_contact_type.remark %></td>
    <td><%= link_to I18n.t(:Show), participant_contact_type %></td>
    <td><%= link_to I18n.t(:Edit), edit_participant_contact_type_path(participant_contact_type) %></td>
    <td><%= link_to I18n.t(:Destroy), participant_contact_type, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type', new_participant_contact_type_path %>
