<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @participant_contact_type.name %>
</p>

<p>
  <b>Active:</b>
  <%= @participant_contact_type.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @participant_contact_type.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_participant_contact_type_path(@participant_contact_type) %> |
<%= link_to 'Back', participant_contact_types_path %>
