<%= form_for(@goods_additional_value) do |f| %>
  <% if @goods_additional_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goods_additional_value.errors.count, "error") %> prohibited this goods_additional_value from being saved:</h2>

      <ul>
      <% @goods_additional_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:remark) %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
