<h1>Listing goods_additional_values</h1>

<table>
  <tr>
    <th>Value</th>
    <th>References</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goods_additional_values.each do |goods_additional_value| %>
  <tr>
    <td><%= goods_additional_value.value %></td>
    <td><%= goods_additional_value.goods_additional_type_id %></td>
    <td><%= goods_additional_value.active %></td>
    <td><%= goods_additional_value.remark %></td>
    <td><%= link_to I18n.t(:Show), goods_additional_value %></td>
    <td><%= link_to I18n.t(:Edit), edit_goods_additional_value_path(goods_additional_value) %></td>
    <td><%= link_to I18n.t(:Destroy), goods_additional_value, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Value', new_goods_additional_value_path %>
