<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t(:value)%>:</b>
  <%= @goods_additional_value.value %>
</p>

<p>
  <b>References:</b>
  <%= @goods_additional_value.references %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @goods_additional_value.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @goods_additional_value.remark %>
</p>


<%= link_to I18n.t(:edit), edit_goods_additional_value_path(@goods_additional_value) %> |
<%= link_to I18n.t(:back), goods_additional_values_path %>
