<h1>Listing transaction_goods_additionals</h1>

<table>
  <tr>
    <th>Transaction goods item</th>
    <th>Goods additional</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_goods_additionals.each do |transaction_goods_additional| %>
  <tr>
    <td><%= transaction_goods_additional.transaction_goods_item_id %></td>
    <td><%= transaction_goods_additional.goods_additional_id %></td>
    <td><%= transaction_goods_additional.active %></td>
    <td><%= transaction_goods_additional.remark %></td>
    <td><%= link_to I18n.t(:Show), transaction_goods_additional %></td>
    <td><%= link_to I18n.t(:Edit), edit_transaction_goods_additional_path(transaction_goods_additional) %></td>
    <td><%= link_to I18n.t(:Destroy), transaction_goods_additional, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Additional', new_transaction_goods_additional_path %>
