<p id="notice"><%= notice %></p>

<p>
  <b>Transaction goods item:</b>
  <%= @transaction_goods_additional.transaction_goods_item_id %>
</p>

<p>
  <b>Goods additional:</b>
  <%= @transaction_goods_additional.goods_additional_id %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_goods_additional.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @transaction_goods_additional.remark %>
</p>


<%= link_to 'Edit', edit_transaction_goods_additional_path(@transaction_goods_additional) %> |
<%= link_to 'Back', transaction_goods_additionals_path %>
