<%# encoding: utf-8 

# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:transaction_goods_item)%>:</b>
  <%= @transaction_goods_additional.transaction_goods_item_id %>
</p>

<p>
  <b><%=I18n.t(:goods_additional_value)%>:</b>
  <%= @transaction_goods_additional.goods_additional_value_id %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @transaction_goods_additional.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @transaction_goods_additional.remark %>
</p>


<%= link_to I18n.t(:edit), edit_transaction_goods_additional_path(@transaction_goods_additional) %> |
<%= link_to I18n.t(:back), transaction_goods_additionals_path %>
