<h3><%="#{I18n.t(:listing)} #{I18n.t(:participant_types)}"%></h3>

<table>
  <tr>
    <th><%=I18n.t(:participant_person)%></th>
    <th><%=I18n.t(:type)%></th>
    <th><%=I18n.t(:active)%></th>
    <th><%=I18n.t(:remark)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participant_types.each do |participant_type| %>
  <tr>
    <td><%= participant_type.participant_person_id %></td>
    <td><%= participant_type.type %></td>
    <td><%= participant_type.active %></td>
    <td><%= participant_type.remark %></td>
    <td><%= link_to I18n.t(:show), participant_type %></td>
    <td><%= link_to I18n.t(:edit), edit_participant_type_path(participant_type) %></td>
    <td><%= link_to I18n.t(:destroy), participant_type, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t(:new), new_participant_type_path %>
