<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @transaction_tot_type.name %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_tot_type.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @transaction_tot_type.remark %>
</p>


<%= link_to 'Edit', edit_transaction_tot_type_path(@transaction_tot_type) %> |
<%= link_to 'Back', transaction_tot_types_path %>
