<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact_type.name %>
</p>

<p>
  <b>Remark:</b>
  <%= @contact_type.remark %>
</p>

<p>
  <b>Active:</b>
  <%= @contact_type.active %>
</p>


<%= link_to 'Edit', edit_contact_type_path(@contact_type) %> |
<%= link_to 'Back', contact_types_path %>
