<%= form_for(@transaction_record) do |f| %>
  <% if @transaction_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_record.errors.count, "error") %> prohibited this transaction_record from being saved:</h2>

      <ul>
      <% @transaction_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
 
  <div class="field">
    <%= f.label I18n.t(:code) %><br />
    <%= f.text_field :code %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :tot %><br />
    <%= f.text_field :tot %>
  </div>
  
  <div class="field">
    <%= f.label :goods %><br />
    <%= f.text_field :goods %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
