<h1>Listando Registros de Transações</h1>

<table width="100%">
  <tr>
  <td style="white-space: nowrap;border: 1px solid black;">Id:</td>
  <td style="white-space: nowrap;border: 1px solid black;">Nota:</td>
  <td style="white-space: nowrap;border: 1px solid black;">Natureza Operação:</td>
  <td style="white-space: nowrap;border: 1px solid black;">Emissão:</td>
  <td style="white-space: nowrap;border: 1px solid black;">$ Nota:</td>
  <td style="white-space: nowrap;border: 1px solid black;">$ Produto:</td>
<%
@additionalTot = Array.new
@additional = Goods::Additional::Type.all(:order => :id)
@additional.each do |additional| 
%><td style="white-space: nowrap;border: 1px solid black;"><%= additional.remark %></td><%
	@additionalTot[additional.id] = 0
end 
@taxeTot = Array.new
@taxe = Taxe::Group.all(:order => :id)
@taxe.each do |taxe| 
%><td style="white-space: nowrap;border: 1px solid black;"><%= taxe.name %></td><%
	@taxeTot[taxe.id] = 0
end 
%>
  </tr>
	<%
	tot = 0
	goods = 0
	@transaction_records.each do |transaction_record| %>
  <tr>
  	<td style="white-space: nowrap;border: 1px solid black;"><%= transaction_record.id %></td>
	<td style="white-space: nowrap;border: 1px solid black;"><%= transaction_record.code %></td>
	<td style="white-space: nowrap;border: 1px solid black;"><%= transaction_record.name %></td>
  	<td style="white-space: nowrap;border: 1px solid black;"><%= transaction_record.creation_date %></td>
	<td style="border: 1px solid black; text-align: right"><%= transaction_record.tot %></td>
	<td style="border: 1px solid black; text-align: right"><%= transaction_record.goods %></td>
<%
	@additionalValue = Goods::Additional::Value.find_by_sql(
		"SELECT
			goods_additional_types.id,
			goods_additional_values.value
		FROM 
			goods_additional_types
			LEFT JOIN goods_additional_values on goods_additional_types.id = goods_additional_values.goods_additional_type_id
			LEFT JOIN transaction_tots on transaction_tots.goods_additional_value_id=goods_additional_values.id
		WHERE 
			transaction_tots.transaction_record_id = #{ transaction_record.id }
		ORDER BY 
			goods_additional_types.id" 
	)
	@additionalValue.each do |additionalValue| 
		additionalValue.value = additionalValue.value.to_f
		%><td style="border: 1px solid black; text-align: right;"><%= additionalValue.value %></td><%
		@additionalTot[additionalValue.id] =  @additionalTot[additionalValue.id] + additionalValue.value
	end 

	@taxeValue = Taxe::Value.find_by_sql(
		"SELECT
			taxe_groups.id,
			SUM(taxe_values.value) AS value
		FROM
			taxe_groups
			LEFT JOIN taxe_types ON taxe_types.taxe_group_id=taxe_groups.id 
			LEFT JOIN taxe_values on taxe_types.id = taxe_values.taxe_type_id
			LEFT JOIN transaction_taxes on transaction_taxes.taxe_value_id=taxe_values.id
		WHERE 
			transaction_taxes.transaction_record_id = #{ transaction_record.id }
		ORDER BY 
			taxe_groups.id" 
	)
	@taxeValue.each do |taxeValue| 
		taxeValue.value = taxeValue.value.to_f
		%><td style="border: 1px solid black; text-align: right;"><%= taxeValue.value %></td><%
		@taxeTot[taxeValue.id] =  @taxeTot[taxeValue.id] + taxeValue.value
	end


	tot = tot + transaction_record.tot
	goods = goods + transaction_record.goods
    %>
    
  </tr>
<% end %>
<tr style="border-top: 1px solid black;">
	<td colspan="4" style="border: 1px solid black;text-align: right;"><b>Totais</b></td>
	<td style="border: 1px solid black; text-align: right;"><b><%=tot %></b></td>
	<td style="border: 1px solid black; text-align: right;"><b><%=goods %></b></td>
<%
	@additionalTot.each do |additionalTot| 
		if additionalTot
			%><td style="border: 1px solid black; text-align: right;"><b><%= additionalTot %></b></td><%
		end
	end 
	@taxeTot.each do |taxeTot| 
		if taxeTot
			%><td style="border: 1px solid black; text-align: right;"><b><%= taxeTot %></b></td><%
		end
	end 
%>
  </tr>
</table>
