<h1>Listando Registros de Transações</h1>

<table width="100%">
  <tr>
  <td>Id:</td>
  <td>Nota:</td>
  <td>Natureza Operação:</td>
  <td>Emissão:</td>
  <td>$ Nota:</td>
  <td>$ Produto:</td>
<%
@additionalTot = Array.new
@additional = Goods::Additional::Type.all(:order => :name)
@additional.each do |additional| 
%><td><%= additional.remark %></td><%
	@additionalTot[additional.id] = 0
end 
%>
  </tr>
	<%
    	tot = 0
    	goods = 0
	@transaction_records.each do |transaction_record| %>
  <tr>
  	<td><%= transaction_record.id %></td>
	<td><%= transaction_record.code %></td>
	<td><%= transaction_record.name %></td>
  	<td><%= transaction_record.creation_date %></td>
	<td align="right"><%= transaction_record.tot %></td>
	<td align="right"><%= transaction_record.goods %></td>
<%
@additionalValue = Goods::Additional::Value.find_by_sql(
	'SELECT
		goods_additional_types.id,
		goods_additional_values.value
	FROM 
		goods_additional_types
		LEFT JOIN goods_additional_values on goods_additional_types.id = goods_additional_values.goods_additional_type_id
		LEFT JOIN transaction_tots on transaction_tots.goods_additional_value_id=goods_additional_values.id
	WHERE 
		transaction_tots.transaction_record_id = ?
	ORDER BY 
		goods_additional_types.name', transaction_record.id 
)
@additionalValue.each do |additionalValue| 
	%><td align="right"><%= additionalValue.value %></td><%
	@additionalTot[additionalValue.id] =  @additionalTot[additionalValue.id] + additionalValue.value
end 
%>
    <th></th>
    <th></th>
    <th></th>
	<%
    	tot = tot + transaction_record.tot
    	goods = goods + transaction_record.goods
    %>
    
  </tr>
<% end %>
<tr style="border-left: 1px solid black;">
  	<td>Totais</td>
	<td></td>
	<td></td>
	<td align="right"><b><%=tot %></b></td>
	<td align="right"><b><%=goods %></b></td>
<%
@additionalTot.each do |additionalTot| 
	%><td align="right"><%= additionalTot %></td><%
end 
%>
	<td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
