<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place_type.name %>
</p>

<p>
  <b>Active:</b>
  <%= @place_type.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @place_type.remark %>
</p>


<%= link_to 'Edit', edit_place_type_path(@place_type) %> |
<%= link_to 'Back', place_types_path %>
