<%= form_for(@participant_contact_address) do |f| %>
  <% if @participant_contact_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participant_contact_address.errors.count, "error") %> prohibited this participant_contact_address from being saved:</h2>

      <ul>
      <% @participant_contact_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:remark) %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="field">
    <%= f.label I18n.t(:active) %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t(:save)%>
  </div>
<% end %>
