<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:participant_person)%>:</b>
  <%= @participant_contact_address.participant_person_id %>
</p>

<p>
  <b><%=I18n.t(:address_place)%>:</b>
  <%= @participant_contact_address.address_place_id %>
</p>

<p>
  <b><%=I18n.t(:participant_contact_type)%>:</b>
  <%= @participant_contact_address.participant_contact_type_id %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @participant_contact_address.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @participant_contact_address.active %>
</p>


<%= link_to I18n.t(:edit), edit_participant_contact_address_path(@participant_contact_address) %> |
<%= link_to I18n.t(:back), participant_contact_addresses_path %>
