<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @participant_contact_address.person_id %>
</p>

<p>
  <b>Place:</b>
  <%= @participant_contact_address.place_id %>
</p>

<p>
  <b>Type:</b>
  <%= @participant_contact_address.type_id %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @participant_contact_address.remark %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @participant_contact_address.active %>
</p>


<%= link_to I18n.t(:Edit), edit_participant_contact_address_path(@participant_contact_address) %> |
<%= link_to I18n.t(:Back), participant_contact_addresses_path %>
