<h1>Listing email_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th><%=I18n.t(:remark)%></th>
    <th><%=I18n.t(:active)%></th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @email_users.each do |email_user| %>
  <tr>
    <td><%= email_user.name %></td>
    <td><%= email_user.remark %></td>
    <td><%= email_user.active %></td>
    <td><%= email_user.password %></td>
    <td><%= link_to I18n.t(:Show), email_user %></td>
    <td><%= link_to I18n.t(:Edit), edit_email_user_path(email_user) %></td>
    <td><%= link_to I18n.t(:Destroy), email_user, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_email_user_path %>
