<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @email_user.name %>
</p>

<p>
  <b>Password:</b>
  <%= @email_user.password %>
</p>


<%= link_to 'Edit', edit_email_user_path(@email_user) %> |
<%= link_to 'Back', email_users_path %>
