<%= form_for(@taxe_value) do |f| %>
  <% if @taxe_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxe_value.errors.count, "error") %> prohibited this taxe_value from being saved:</h2>

      <ul>
      <% @taxe_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taxe_type_id %><br />
    <%= f.text_field :taxe_type_id %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br />
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :basis %><br />
    <%= f.text_field :basis %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t(:save)%>
  </div>
<% end %>
