<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t(:taxe_type)%>:</b>
  <%= @taxe_value.taxe_type_id %>
</p>

<p>
  <b><%= I18n.t(:percentage)%>:</b>
  <%= @taxe_value.percentage %>
</p>

<p>
  <b><%= I18n.t(:basis)%>:</b>
  <%= @taxe_value.basis %>
</p>

<p>
  <b><%= I18n.t(:value)%>:</b>
  <%= @taxe_value.value %>
</p>


<%= link_to I18n.t(:edit), edit_taxe_value_path(@taxe_value) %> |
<%= link_to I18n.t(:back), taxe_values_path %>
