<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @taxis.name %>
</p>

<p>
  <b>Remark:</b>
  <%= @taxis.remark %>
</p>

<p>
  <b>Active:</b>
  <%= @taxis.active %>
</p>


<%= link_to 'Edit', edit_taxis_path(@taxis) %> |
<%= link_to 'Back', taxes_path %>
