<%= form_for(@transaction_taxis) do |f| %>
  <% if @transaction_taxis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction_taxis.errors.count, "error") %> prohibited this transaction_taxis from being saved:</h2>

      <ul>
      <% @transaction_taxis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :taxe_value_note_id %><br />
    <%= f.text_field :taxe_value_note_id %>
  </div>
  <div class="field">
    <%= f.label :transaction_record_id %><br />
    <%= f.text_field :transaction_record_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
