<h1>Listing transaction_taxes</h1>

<table>
  <tr>
    <th>Taxe value note</th>
    <th>Transaction record</th>
    <th>Active</th>
    <th>Remark</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_taxes.each do |transaction_taxis| %>
  <tr>
    <td><%= transaction_taxis.taxe_value_note_id %></td>
    <td><%= transaction_taxis.transaction_record_id %></td>
    <td><%= transaction_taxis.active %></td>
    <td><%= transaction_taxis.remark %></td>
    <td><%= link_to 'Show', transaction_taxis %></td>
    <td><%= link_to 'Edit', edit_transaction_taxis_path(transaction_taxis) %></td>
    <td><%= link_to 'Destroy', transaction_taxis, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Taxe', new_transaction_taxis_path %>
