<h3><%="#{I18n.t(:listing)} #{I18n.t(:transaction_taxe)}"%></h3>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transaction_taxes.each do |transaction_taxis| %>
  <tr>
    <td><%= link_to I18n.t(:show), transaction_taxis %></td>
    <td><%= link_to I18n.t(:edit), edit_transaction_taxis_path(transaction_taxis) %></td>
    <td><%= link_to I18n.t(:destroy), transaction_taxis, :confirm => I18n.t(:are_you_sure?), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t(:new), new_transaction_taxis_path %>
