<p id="notice"><%= notice %></p>

<p>
  <b>Domain:</b>
  <%= @email.domain %>
</p>

<p>
  <b>Name:</b>
  <%= @email.name %>
</p>

<p>
  <b>Remark:</b>
  <%= @email.remark %>
</p>

<p>
  <b>Contact type:</b>
  <%= @email.contact_type_id %>
</p>

<p>
  <b>Person:</b>
  <%= @email.person_id %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
