<p id="notice"><%= notice %></p>

<p>
  <b>Transaction item:</b>
  <%= @transaction_item_taxis.transaction_item_id %>
</p>

<p>
  <b>Taxe value:</b>
  <%= @transaction_item_taxis.taxe_value_id %>
</p>

<p>
  <b>Active:</b>
  <%= @transaction_item_taxis.active %>
</p>

<p>
  <b>Remark:</b>
  <%= @transaction_item_taxis.remark %>
</p>


<%= link_to 'Edit', edit_transaction_item_taxis_path(@transaction_item_taxis) %> |
<%= link_to 'Back', transaction_item_taxes_path %>
