<p id="notice"><%= notice %></p>

<p>
  <b><%=I18n.t(:code)%>:</b>
  <%= @goods_item.code %>
</p>

<p>
  <b><%=I18n.t(:name)%>:</b>
  <%= @goods_item.name %>
</p>

<p>
  <b><%=I18n.t(:active)%>:</b>
  <%= @goods_item.active %>
</p>

<p>
  <b><%=I18n.t(:remark)%>:</b>
  <%= @goods_item.remark %>
</p>


<%= link_to I18n.t(:Edit), edit_goods_item_path(@goods_item) %> |
<%= link_to I18n.t(:Back), goods_items_path %>
