<p id="notice"><%= notice %></p>

<p>
  <b>Transaction record:</b>
  <%= @transaction_tot_value.transaction_record %>
</p>

<p>
  <b>Transaction tot type:</b>
  <%= @transaction_tot_value.transaction_tot_type %>
</p>


<%= link_to 'Edit', edit_transaction_tot_value_path(@transaction_tot_value) %> |
<%= link_to 'Back', transaction_tot_values_path %>
