#encoding: utf-8
<%
# crh - ERP
# Copyright (C) 2011-2011  Clairton Rodrigo Heinzen
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<!DOCTYPE html>
<html>
<head>
  <title>Crh</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<p><%= flash[:notice] %></p>
<p><%= flash[:alert] %></p>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <%# else %>
    <%#= link_to "Sign up", new_user_registration_path %><!-- or --><%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<table style="vertical-align: top;">
	<tr>
		<td style="vertical-align: top; width: 15%">
			<h2>Menu</h2>
			<ul>
				<li><%= link_to "Itens", goods_items_path %></li>
				<li><%= link_to "Pessoas", participant_people_path %></li>
				<li><%= link_to "Grupos Impostos", taxe_groups_path %></li>
				<li><%= link_to "Tipos Impostos", taxe_types_path %></li>
				<li><%= link_to "Faturas", financier_notes_path %></li>
				<li><%= link_to "Notas", transaction_records_path %></li>
				<li><%= link_to "Relatório Notas", "#{transaction_records_path}/filter" %></li>
        <li><%= link_to "Relatório Participação Item Na Venda", "#{transaction_goods_items_path}/filter" %></li>
				<li><%= link_to "Tipos Adicionais", goods_additional_types_path %></li>
				<li><%= link_to "Importação Xml", transaction_xmls_path %></li>
			</ul>
		</td>
		<td style="width:10px; border-left: 1px solid black;"></td>
		<td style="vertical-align: top;">
			<%= yield %>
		</td>
	</tr>
</table>
</body>
</html>