<!DOCTYPE html>
<html>
<head>
  <title>Crh</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<table style="vertical-align: top;">
	<tr>
		<td style="vertical-align: top; width: 15%">
			<h1>Crh</h1>
			<ul>
				<li><%= link_to "Itens", goods_items_path %></li>
				<li><%= link_to "Pessoas", participant_people_path %></li>
				<li><%= link_to "Grupos Impostos", taxe_groups_path %></li>
				<li><%= link_to "Tipos Impostos", taxe_types_path %></li>
				<li><%= link_to "Registros", transaction_records_path %></li>
				<li><%= link_to "Tipos Adicionais", goods_additional_types_path %></li>
				<li><%= link_to "Valores Adicionais", goods_additional_values_path %></li>
			</ul>
		</td>
		<td style="width:10px; border-left: 1px solid black;"></td>		
		<td style="vertical-align: top;">
			<%= yield %>
		</td>
	</tr>
</table>
</body>
</html>
